/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonte e cores */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    color: #333;
}

header {
    text-align: center;
    background-color: #a2c8f1;
    padding: 20px;
}

header h1 {
    font-size: 2rem;
    color: #fff;
}

/* Layout da barra lateral */
.side-menu {
    position: fixed;
    top: 50%;
    left: 0;
    width: 200px;
    transform: translateY(-50%);
    background-color: #e0f4ff;
    border-right: 1px solid #ccc;
    transition: all 0.3s ease-in-out;
}

.menu-item {
    padding: 10px;
    background-color: #a2c8f1;
    text-align: center;
    cursor: pointer;
}

.menu-content {
    display: none;
    padding: 10px;
}

.menu-content ul {
    list-style: none;
}

.menu-content ul li {
    margin: 10px 0;
}

/* Produtos */
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.product-card {
    width: 200px;
    text-align: center;
    margin: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.product-img {
    width: 100%;
    transition: 0.3s;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #a2c8f1;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #fff;
}

/* Estilo para a abertura da aba lateral */
.side-menu:hover .menu-content {
    display: block;
}
